
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="phone">Phone number:</label><br>
  <input type="text" id="phone" name="phone"><br>
  <label for="languages">Favourite languages:</label><br>

  <select name="language" id="lg">
  <option *ngFor="let language of languages">
    {{language}}
  </option >
  </select>
  <button type="submit">Submit</button>

</form>



