<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular form</title>

</head>
<body>
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="phone">Phone number:</label><br>
  <input type="text" id="phone" name="phone"><br>
  <label for="languages">Favourite languages:</label><br>


  <button type="submit">Submit</button>



</form>

</body>
</html>

<select id="languages" name="languages list" form="languages">
  <option value="html">Html</option>
  <option value="saab">Css</option>
  <option value="opel">JS</option>
  <option value="audi">PHP</option>
</select><br>
